body {
	background-color: #fafaff;
}

.choropleth-container {
	display: block;
	position: relative;
}
.choropleth-container:before {
	content: "";
	display: block;
	margin-top: 70%;
}
.choropleth {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.choropleth path{
	stroke: #000;
	stroke-width: 1px;
	stroke-dasharray: 1,2;
}

.main .q19 {fill: #2E0003}
.main .q18 {fill: #3E000A}
.main .q17 {fill: #4E0013}
.main .q16 {fill: #5E001A}
.main .q15 {fill: #6E0023}
.main .q14 {fill: #7E002A}
.main .q13 {fill: #8C1138}
.main .q12 {fill: #8C2238}
.main .q11 {fill: #99334C}
.main .q10 {fill: #AA443C}
.main .q9 {fill: #CC5526}
.main .q8 {fill: #DD5536}
.main .q7 {fill: #FF5555}
.main .q6 {fill: #FF7755}
.main .q5 {fill: #FFAA55}
.main .q4 {fill: #FFCC55}
.main .q3 {fill: #FFFF55}
.main .q2 {fill: #CCFF55}
.main .q1 {fill: #99FF55}
.main .q0 {fill: #55FF55}
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.slider {
	background: #ffffff url(../../bar.png) left top no-repeat;
	width: 626px;
	height: 80px;
	border: 2px solid #777;
	border-radius: 8px;
	margin-top: 20px;
}
.slider .ui-slider-handle {
	width: 7px;
	margin-left: -4px;
	height: 90px;
	border: 1px solid #777;
	background: rgba(128,128,128,0.4);
}

.choropleth path.active {
	stroke: blue;
	stroke-dasharray: none;
	stroke-width: 3px;
}

.panel-right {
	position: relative;
}

.heat rect.active {
	stroke: blue;
	stroke-width: 2px;
}

svg.line line {
	stroke: purple;
	stroke-width: 1px;
	stroke-dasharray: 4,2;
}

svg.line {
	position: absolute;
	left: 2px;
	top: 40px;
	width: 470px;
	height: 790px;
	pointer-events: none;
}

.pull-center {
	margin 0 auto;
}

div.span6m {
	width: 321px!important;
}

div.jvectormap-label {
	display: none !important;
}
